body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background: blueviolet;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.activities {
    margin-bottom: 20px;
}

.activities h2, .habits h2 {
    margin-bottom: 10px;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
}

.activity {
    background: red;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.activity:hover {
    background: #e9ecef;
}

.activity span {
    font-size: 24px;
}

.habit {
    background:burlywood;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.progress-circle {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #eee;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: orange;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%);
}

.habit-details {
    text-align: center;
}
